* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  min-height: 100vh;
}

.bodyShow {
  display: none;
}

.showedBody {
  display: block;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textIcon {
  font-size: 1.3rem;
}

.verLine {
  height: 100;
  width: 2px;
  background-color: rgb(95, 23, 196);
}

.horLine {
  width: 100%;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.floatingBg {
  background-color: rgb(95, 23, 196);
  width: 100%;
}

.floatingBgDown {
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 20vh;
  margin-top: -1px;
}

.floatingBgUp {
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 20vh;
  border: 0;
}

.floatingBgUpBright {
  background-image: url(/images/SVG/wave-haikei-white.svg);
  transition: all 0.5s;
}

.floatingBgDownBright {
  background-image: url(/images/SVG/wave-haikeiUpsiteDown-white.svg);
  transition: all 0.5s;
}

.floatingBgUpDark {
  background-image: url(/images/SVG/wave-haikei.svg);
  transition: all 0.5s;
}

.floatingBgDownDark {
  background-image: url(/images/SVG/wave-haikeiUpsiteDown.svg);
  transition: all 0.5s;
}

.darkBackground {
  background-color: rgb(16, 16, 16);
  transition: all 0.5s;
}

.brightBackground {
  background-color: rgb(245, 245, 245);
  transition: all 0.5s;
}

.darkColor {
  color: rgb(16, 16, 16);
  transition: all 0.5s;
}

.dark-lightColor {
  color: rgb(206, 206, 206);
  transition: all 0.5s;
}

.brightColor {
  color: rgb(245, 245, 245);
  transition: all 0.5s;
}

.bright-darkColor {
  color: rgb(83, 83, 83);
  transition: all 0.5s;
}

.dark-whiteColorFoot {
  color: rgb(162, 162, 162);
  transition: all 0.5s;
}

.whiteColorTitleFoot {
  color: rgb(245, 245, 245);
  transition: all 0.5s;
}

.darkColorFoot {
  color: rgb(53, 53, 53);
  transition: all 0.5s;
}

.darkColorTitleFoot {
  color: rgb(16, 16, 16);
  transition: all 0.5s;
}

.headingSCSS {
  font-weight: 700;
  font-size: 30px;
}

.textSCSS {
  font-size: 1rem;
}

.statusChangeGreen {
  color: rgb(42, 182, 42);
}

.statusChangeRed {
  color: rgb(232, 41, 41);
}

html {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

p {
  text-align: center;
  width: 85%;
  font-size: 1.5rem;
}

p:first-child {
  color: rgb(245, 245, 245);
}

p:nth-child(2) {
  font-size: 0.9rem;
  padding-bottom: 30px;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

p:nth-child(3) {
  color: rgb(206, 206, 206);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
}

.footText {
  font-size: 13px;
}

.rightsReserv {
  font-size: 11px;
  padding: 30px;
  padding-bottom: 0;
}
.rightsReserv a {
  color: rgb(162, 162, 162);
}/*# sourceMappingURL=EAS.css.map */