* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #101010;
  min-height: 100vh;
}

.bodyShow {
  display: none;
}

.showedBody {
  display: block;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.verLine {
  height: 100;
  width: 2px;
  background-color: rgb(95, 22, 197);
}

.horLine {
  width: 100%;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.floatingBgDown {
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 20vh;
  background-image: url(/images/SVG/wave-haikeiUpsiteDown.svg);
  margin-top: -1px;
}

.floatingBgUp {
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 20vh;
  background-image: url(/images/SVG/wave-haikei.svg);
}

.floatingBg {
  background-color: rgb(95, 22, 197);
  width: 100vw;
}

.heading {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.text {
  color: #dfdfdf;
}

.textIcon {
  font-size: 1.3rem;
}

.hide {
  opacity: 0;
  transition: all 0.8s;
  transform: scale(0.9);
  filter: blur(10px);
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}
.linkedIcon:nth-child(1) {
  transition: 0.8s;
  transition-delay: 0.5s;
}

.linkedIcon:nth-child(2) {
  transition: 0.8s;
  transition-delay: 0.7s;
}

.linkedIcon:nth-child(3) {
  transition: 0.8s;
  transition-delay: 0.9s;
}

.patronite {
  transition: 0.8s;
  transition-delay: 1.1s;
}

.show {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.contact {
  transition: 0.8s;
  transition-delay: 0.4s;
}

.video2 {
  transition: 0.8s;
  transition-delay: 0.3s;
}

.techSticker:nth-child(1) {
  transition: 0.8s;
  transition-delay: 0.4s;
}

.techSticker:nth-child(2) {
  transition: 0.8s;
  transition-delay: 0.5s;
}

.techSticker:nth-child(3) {
  transition: 0.8s;
  transition-delay: 0.6s;
}

.techSticker:nth-child(4) {
  transition: 0.8s;
  transition-delay: 0.7s;
}

.techSticker:nth-child(5) {
  transition: 0.8s;
  transition-delay: 0.8s;
}

.techSticker:nth-child(6) {
  transition: 0.8s;
  transition-delay: 0.9s;
}

.techSticker:nth-child(7) {
  transition: 0.8s;
  transition-delay: 1s;
}

.techSticker:nth-child(8) {
  transition: 0.8s;
  transition-delay: 1.1s;
}

.techSticker:nth-child(9) {
  transition: 0.8s;
  transition-delay: 1.2s;
}

.techSticker:nth-child(10) {
  transition: 0.8s;
  transition-delay: 1.3s;
}

.techSticker:nth-child(11) {
  transition: 0.8s;
  transition-delay: 1.4s;
}

.techSticker:nth-child(12) {
  transition: 0.8s;
  transition-delay: 1.5s;
}

.loadPage {
  position: absolute;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  z-index: 9;
  display: flex;
  justify-content: center;
  -webkit-animation: fade 0.5s ease-in-out 2.5s 1 normal forwards;
          animation: fade 0.5s ease-in-out 2.5s 1 normal forwards;
}
.loadPage video {
  width: 50vw;
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
    transition: 1s;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade {
  from {
    opacity: 1;
    transition: 1s;
  }
  to {
    opacity: 0;
  }
}

.loadPageHidden {
  display: none;
}

header {
  background-color: rgb(16, 16, 16);
  height: 25vh;
  display: flex;
  flex-direction: column;
}
header .heroimg {
  width: 100%;
  height: 17vh;
  background-image: url(/images/old-man-my-computer.gif);
  background-position: center;
  background-attachment: fixed;
}
header .profile {
  position: relative;
}
header .profile .profilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid rgb(95, 22, 197);
  margin-top: -40px;
}
header .overview {
  display: flex;
  justify-content: center;
}
header .overview .mediaIcons {
  padding-top: 10px;
  padding-right: 3%;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .overview .mediaIcons .fa-brands {
  color: white;
  font-size: 22px;
  padding: 5px;
}
header .overview .patronite {
  padding-top: 10px;
  padding-left: 3%;
}
header .overview .patronite .svgPatronite {
  background-color: rgb(43, 43, 43);
  border-radius: 30px;
}

.about {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50px;
}
.about .fullText {
  margin-left: 20px;
}
.about .heading {
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 7px;
}
.about .text {
  color: #E8E8E8;
  padding-bottom: 7px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.portfolio .horLine {
  background-color: #fff;
}
.portfolio .orgLink {
  color: rgb(198, 207, 255);
  text-align: center;
  background-color: rgb(31, 31, 31);
  text-decoration: underline;
  border-radius: 13px;
  padding: 3px;
  margin-top: 10px;
}
.portfolio .video1 {
  margin-top: 20px;
  border: 2px solid rgb(43, 43, 43);
  border-radius: 10px;
  margin-bottom: 20px;
}
.portfolio .video2 {
  margin-top: 15px;
  border: 2px solid rgb(43, 43, 43);
  border-radius: 10px;
}

.technologies {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 50px;
}
.technologies .horLine {
  width: 70%;
  background-color: rgb(95, 22, 197);
}
.technologies .techStack {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.technologies .techSticker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: -2;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(51, 51, 51);
}
.technologies .techLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 4px;
  padding-right: 9px;
  padding-left: 8px;
  background-color: black;
}
.technologies .techLogo {
  width: 21px;
  border-radius: 5px;
}
.technologies .techText {
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 16px;
}
.technologies .stickerText {
  font-weight: 500;
}
.technologies .techSticker1 {
  background-color: white;
}
.technologies .techSticker1 .techLogoContainer1 {
  background-color: rgb(16, 26, 38);
}
.technologies .techText1 {
  color: rgb(16, 26, 38);
}
.technologies .techSticker2 {
  background-color: rgb(240, 80, 51);
}
.technologies .techText2 {
  padding-left: 14px;
  padding-right: 14px;
}
.technologies .techSticker3 {
  background-color: rgb(60, 169, 242);
}
.technologies .techSticker4 {
  background-color: rgb(124, 18, 248);
}
.technologies .techSticker5 {
  background-color: rgb(39, 119, 255);
}
.technologies .techSticker6 {
  background-color: rgb(239, 101, 42);
}
.technologies .techSticker7 {
  background-color: rgb(38, 77, 228);
}
.technologies .techSticker8 {
  background-color: rgb(240, 219, 79);
}
.technologies .techSticker9 {
  background-color: rgb(205, 103, 153);
}
.technologies .techSticker10 {
  background-color: rgb(0, 89, 156);
}
.technologies .techSticker11 {
  background-color: rgb(71, 1, 55);
}

.techSticker12 {
  background-color: rgb(1, 183, 214);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contact .contactHeading {
  text-align: center;
  margin-bottom: 20px;
}
.contact .contactHeading .horLine {
  margin-top: 0;
  margin-bottom: 0;
  width: 150px;
  background-color: #fff;
}
.contact p {
  color: #E8E8E8;
}
.contact a {
  color: #E8E8E8;
  text-decoration: underline;
  font-style: italic;
}
.contact .contactMail {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact .contactMail p {
  font-size: 16px;
  font-weight: 700;
}
.contact .contactMail a {
  color: #E8E8E8;
}
.contact .contactSocial {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.contact .contactSocial div {
  display: flex;
  justify-content: center;
}
.contact .contactSocial p {
  font-size: 16px;
  font-weight: 700;
}
.contact .contactSocial .linkedIcon {
  font-size: 30px;
  padding: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 85%;
}
footer .rightsReserv {
  color: rgb(162, 162, 162);
  font-size: 11px;
  padding: 30px;
}
footer .footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footerContainer .footTitle {
  color: white;
}
footer .footerContainer .footText {
  color: rgb(162, 162, 162);
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */