@use 'colors' as colors;

* { 
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


body {
    min-height: 100vh;
}

// JS SCRIPT
.bodyShow {
    display: none;
}

.showedBody {
    display: block;
}
// END OF JS SCRIPT

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textIcon {
    font-size: 1.3rem;
}

.verLine {
    height: 100;
    width: 2px;
    background-color: colors.$accent;
}

.horLine {
    width: 100%;
    height: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
}

// Backgorund
.floatingBg {
    background-color: colors.$accent;
    width: 100%;    
}

.floatingBgDown {
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
    height: 20vh;
    margin-top: -1px;
}

.floatingBgUp {
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
    height: 20vh;
    border: 0;
}

// Theme changer 
.floatingBgUpBright {
    background-image: url(/images/SVG/wave-haikei-white.svg);
    transition: all 0.5s;
}

.floatingBgDownBright {
    background-image: url(/images/SVG/wave-haikeiUpsiteDown-white.svg);
    transition: all 0.5s;
}

.floatingBgUpDark {
    background-image: url(/images/SVG/wave-haikei.svg);
    transition: all 0.5s;
}

.floatingBgDownDark {
    background-image: url(/images/SVG/wave-haikeiUpsiteDown.svg);
    transition: all 0.5s;
}



// MAIN COLORS CHANGE
.darkBackground {
    background-color: colors.$main-background;
    transition: all 0.5s;
}

.brightBackground {
    background-color: colors.$white-background;
    transition: all 0.5s;
}

.darkColor {
    color: colors.$main-background;
    transition: all 0.5s;
}

.dark-lightColor {
    color: colors.$fth-background;
    transition: all 0.5s;
}

.brightColor {
    color: colors.$white-background;
    transition: all 0.5s;
}

.bright-darkColor {
    color: colors.$thr-background;
    transition: all 0.5s;
}

// Footer
.dark-whiteColorFoot {
    color: colors.$footer-background;
    transition: all 0.5s;
}

.whiteColorTitleFoot {
    color: colors.$white-background;
    transition: all 0.5s;
}

.darkColorFoot {
    color: colors.$dark-footer-background;
    transition: all 0.5s;
}

.darkColorTitleFoot {
    color: colors.$main-background;
    transition: all 0.5s;
}

// Heading Styles
.headingSCSS {
    font-weight: 700;
    font-size: 30px;
}

.textSCSS {
    font-size: 1.0rem;
}

.statusChangeGreen {
    color: rgb(42, 182, 42);
}

.statusChangeRed {
    color: rgb(232, 41, 41);
}