@use '_main.scss' as main;
@use 'colors' as colors;


header {
    background-color: colors.$main-background;
    height: 25vh;
    display: flex;
    flex-direction: column;

    .heroimg {
        width: 100%;
        height: 17vh;
        background-color: colors.$sec-background;
    }
    .profile {
        position: relative;

        .profilePic {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid colors.$accent;
            margin-top: -40px;
        }

        .statusCircle {
            position: absolute;
            height: 30px;
            width: 30px;
            z-index: 2;
            background-color: rgb(5, 119, 5);
            border-radius: 50%;
            margin-left: 65%;
            margin-top: -30%;
        }
    }
    .overview {
        display: flex;
        justify-content: center;

        .mediaIcons {
            padding-top: 10px;
            padding-right: 3%;
            width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .fa-brands {
                color: white;
                font-size: 22px;
                padding: 5px;
            }
        }

        .patronite {
            padding-top: 10px;
            padding-left: 3%;

            .svgPatronite {
                background-color: colors.$sec-background;
                border-radius: 30px;
            }
        }
    }
}


.about {
    display: flex;
    flex-direction: row;

    width: 85%;
    height: fit-content;
    margin-top: 50px;

    .fullText {
        margin-left: 20px;
    }

    .heading {
        color: white;
        font-weight: 700;
        font-size: 30px;
        padding-bottom: 7px;
    }

    .text {
        color: #E8E8E8;
        padding-bottom: 7px;
    }
}


.portfolio {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: fit-content;
    margin-top: 50px;

    .video1 {
        margin-top: 20px;
        border: 2px solid colors.$sec-background;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .video2 {
        margin-top: 20px;
        border: 2px solid colors.$sec-background;
        border-radius: 10px;
    }
}