@use '_main.scss' as main;
@use 'colors' as colors;
@use '_scrollAnimation' as scrlAni;
@use '_loadPage' as loadPage;
@use '_customWebkit.scss' as scroll;

header {
    background-color: colors.$white-background;
    height: 25vh;
    display: flex;
    flex-direction: column;

    .heroimg {
        width: 100%;
        height: 17vh;
        background-image: url(/images/old-man-my-computer.gif);
        background-position: center;
        background-attachment: fixed;


    }
    .profile {
        position: relative;
    }

    .profilePic {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid colors.$accent;
        margin-top: -40px;
    }

    .overview {
        display: flex;
        justify-content: center;

        .mediaIcons {
            padding-top: 10px;
            padding-right: 3%;
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .linkedIcon {
                font-size: 22px;
                padding: 5px;
            }

            .fa-brands {
                transition: 0.5s;
            }

            .fa-brands:hover {
                color: colors.$accent;
            }
        }

        .patronite {
            padding-top: 15px;
            padding-left: 3%;
            padding-right: 1%;

            .svgPatronite {
                background-color: colors.$sec-background;
                border-radius: 30px;
            }
        }
    }
}



.about {
    display: flex;
    flex-direction: row;

    width: 85%;
    height: fit-content;
    margin-top: 50px;

    .fullText {
        margin-left: 20px;
    }
}



.portfolio {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: fit-content;
    
    p {
        color: white;
    }

    .horLine {
        background-color: #fff;
    }

    .orgLink {
        color: rgb(198, 207, 255);
        text-align: center;
        background-color: rgb(31, 31, 31);
        text-decoration: underline;
        border-radius: 13px;
        padding: 3px;
        margin-top: 10px;
        transition: 0.5s;
    }
    
    .orgLink:hover {
        background-color: colors.$second-accent ;
        color: white;
        padding: 12px;
    }

    .video1 {
        margin-top: 20px;
        border: 2px solid colors.$sec-background;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .video2 {
        margin-top: 15px;
        border: 2px solid colors.$sec-background;
        border-radius: 10px;
    }
}



.technologies {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: fit-content;
    margin-bottom: 50px;

    .horLine {
        width: 70%;
        background-color: colors.$accent;
    }

    .techStack {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        a:hover {
            .linkHover {
                background-color: rgb(0, 0, 0);
            }

            .stickerText1 {
                color: white;
            }
        }
    }

    .techSticker {
        display: flex;
        justify-content: center;
        align-items: center;

        width: fit-content;
        height: fit-content;
        z-index: -2;

        border-radius: 6px;
        margin-right: 10px;
        margin-bottom: 10px;

        border: 2px solid rgb(51, 51, 51);
    }

    .techLogoContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 4px;
        padding-right: 9px;
        padding-left: 8px;

        background-color: black;
    }

    .techLogo {
        width: 21px;
        border-radius: 5px;
    }

    .techText {
        padding-left: 7px;
        padding-right: 7px;
        color: white;

        font-size: 16px;
    }

    .stickerText {
        font-weight: 500;
    }

// GitHub
    .techSticker1 {
        background-color: white;

        .techLogoContainer1 {
            background-color: rgb(16, 26, 38);
        }
    }

    .techText1 {
        color: rgb(16, 26, 38);
    }

// Git
    .techSticker2 {
        background-color: rgb(240, 80, 51);
    }

    .techText2 {
        padding-left: 14px;
        padding-right: 14px;
    }

// VSC
    .techSticker3 {
        background-color: rgb(60, 169, 242);
    }

// Bootstrap
    .techSticker4 {
        background-color: rgb(124, 18, 248);
    }

// Kali Linux
    .techSticker5 {
        background-color: rgb(39, 119, 255);
    }

// HTML
    .techSticker6 {
        background-color: rgb(239, 101, 42);
    }

// CSS 
    .techSticker7 {
        background-color: rgb(38, 77, 228);
    }

// JS
    .techSticker8 {
        background-color: rgb(240, 219, 79);
    }

// SASS
    .techSticker9 {
        background-color: rgb(205, 103, 153);
    }

// C++
    .techSticker10 {
        background-color: rgb(0, 89, 156);
    }

// XD
    .techSticker11 {
        background-color: rgb(71, 1, 55);
    }
}
// Tailwindcss
.techSticker12 {
    background-color: rgb(1, 183, 214);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 85%;
    height: fit-content;

    .horLine {
        margin-top: 0;
        width: 160px;
        background-color: #fff;
    }

    .contactHeading {
        text-align: center;
    }

    p {
        color: #E8E8E8;
    }

    a {
        color: #E8E8E8;
        text-decoration: underline;
        font-style: italic;
    }

    .contactMail {
        display: flex;
        align-items: center;
        flex-direction: column;

        a {
            color: #E8E8E8;
            transition: 0.5s;
        }

        a:hover {
            color: colors.$second-accent;
            padding: 7px;
            background-color: #fff;
            border-radius: 10px;
        }
    }

    .contactSocial {
        padding-top: 20px;

        display: flex;
        flex-direction: column;

        div {
            display: flex;
            justify-content: center;
        }
        
        .linkedIcon {
            font-size: 30px;
            padding: 5px;
        }

        .fa-brands {
            transition: 0.5s;
            aspect-ratio: 1/1;
            object-fit: contain;
        }

        .fa-brands:hover {
            color: colors.$second-accent;
            padding: 5px;
            background-color: #fff;
            border-radius: 10px;
        }
    }
}

.contactText {
    font-size: 16px;
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: 85%;


    
    .footerContainer {
        display: flex;
        justify-content: space-between;

        width: 100%;



        .rightFoot {
            text-align: right;
        }
    }
}

.footText {
    font-size: 13px;
}

.rightsReserv:first-child {
    font-size: 11px;
    padding: 30px;
    padding-bottom: 0;
}

.rightsReserv:last-child{
    font-size: 0.9rem;
    padding-bottom: 30px;

    // Backgroudn gradient
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text ;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}



// Media queries
// Height
@media (min-height: 790px) {
    .about {
        margin-top: 10px;
    }

    .fa-brands {
        font-size: 25px;
    }

    .floatingBgUp {
        height: 10vh;
    }
    
    .floatingBgDown {
        height: 12vh;
    }
}

// Width
@media (min-width: 330px) {
    .floatingBgUp {
        height: 20vh;
    }
    
    .floatingBgDown {
        height: 20vh;
    }
}

@media (min-width: 432px) {
    .fa-brands {
        font-size: 30px;
    }

    .svgPatronite {
        width: 120px;
    }


}

@media (min-width: 660px) {
    .floatingBgUp {
        height: 25vh;
    }
    
    .floatingBgDown {
        height: 25vh;
    }

    .about {
        width: 70%;
    }

    .portfolio { 
        width: 80%;
    }

    .technologies {
        width: 80%;
    }
    
    footer {
        width: 70%;
    }
    
    .loadPage {
        video {
            width: 40vw;
        }
    }
}

@media (min-width: 810px) {
    .floatingBgUp {
        height: 30vh;
    }
    
    .floatingBgDown {
        height: 35vh;
    }

    .about {
        width: 70%;
    }

    .portfolio { 
        width: 80%;
    }

    .technologies {
        width: 80%;
    }
    
    footer {
        width: 70%;
    }

    .profile {
        .profilePic {
            width: 100px;
            height: 100px;
        }
    }

    .headingSCSS {
        font-weight: 700;
        font-size: 2.5rem;
    }
    
    .textSCSS {
        font-size: 1.2rem;
    }

    .fa-brands {
        font-size: 36px;
    }

    .svgPatronite {
        height: 45px;
        width: 135px;
    }

    .footText {
        font-size: 0.9rem;
    }

    .footTitle {
        font-size: 1.2rem;
    }

    .contactText {
        font-size: 1.2rem;
    }

    .contact {
        .horLine {
            margin-top: 0;
            width: 300px;
            background-color: #fff;
        }
    }

    .loadPage {
        video {
            width: 38vw;
        }
    }
}

@media (min-width: 986px) {
    .floatingBgUp {
        height: 40vh;
    }
    
    .floatingBgDown {
        height: 40vh;
    }

    .about {
        width: 60%;
    }

    .portfolio { 
        width: 70%;
    }

    .technologies {
        width: 70%;
    }
    
    footer {
        width: 60%;
    }

    .loadPage {
        video {
            width: 30vw;
        }
    }
}

@media (min-width: 1122px) {
    .about {
        width: 55%;
    }

    .portfolio { 
        width: 65%;
    }

    .technologies {
        width: 65%;
    }
    
    footer {
        width: 55%;
    }

    .loadPage {
        video {
            width: 320px;
        }
    }
}

@media (min-width: 1294px) {
    .floatingBgUp {
        height: 45vh;
    }
    
    .floatingBgDown {
        height: 45vh;
    }

    .about {
        width: 50%;
    }

    .portfolio { 
        width: 68%;
    }

    .technologies {
        width: 60%;
    }
    
    footer {
        width: 50%;
    }

    .profile {
        .profilePic {
            width: 120px;
            height: 120px;
        }
    }

    .headingSCSS {
        font-weight: 700;
        font-size: 2.6rem;
    }
    
    .textSCSS {
        font-size: 1.3rem;
    }

    .fa-brands {
        font-size: 40px;
    }

    .svgPatronite {
        height: 50px;
        width: 150px;
    }

    .footText {
        font-size: 1.0rem;
    }

    .footTitle {
        font-size: 1.3rem;
    }

    .contactText {
        font-size: 1.3rem;
    }

    .contact {
        .horLine {
            margin-top: 0;
            width: 350px;
            background-color: #fff;
        }
    }
}

@media (min-width: 1476px) {
    .floatingBgUp {
        height: 50vh;
    }
    
    .floatingBgDown {
        height: 50vh;
    }

    .about {
        width: 45%;
    }

    .portfolio { 
        width: 60%;
    }

    .technologies {
        width: 50%;
    }
    
    footer {
        width: 40%;
    }
}

@media (min-width: 1646px) {
    .floatingBgUp {
        height: 55vh;
    }
    
    .floatingBgDown {
        height: 55vh;
    }

    .profile {
        .profilePic {
            width: 120px;
            height: 120px;
        }
    }

    .headingSCSS {
        font-weight: 700;
        font-size: 2.8rem;
    }
    
    .textSCSS {
        font-size: 1.3rem;
    }

    .fa-brands {
        font-size: 40px;
    }

    .svgPatronite {
        height: 50px;
        width: 150px;
    }

    .footText {
        font-size: 1.0rem;
    }

    .footTitle {
        font-size: 1.4rem;
    }

    .contactText {
        font-size: 1.4rem;
    }

    .contact {
        .horLine {
            margin-top: 0;
            width: 400px;
            background-color: #fff;
        }
    }
}

@media (min-width: 1822px) {
    .floatingBgUp {
        height: 60vh;
    }
    
    .floatingBgDown {
        height: 60vh;
    }

    .about {
        width: 40%;
    }

    .portfolio { 
        width: 65%;
    }

    .technologies {
        width: 45%;
    }
    
    footer {
        width: 40%;
    }
}

@media (min-width: 1976px) {
    .floatingBgUp {
        height: 65vh;
    }
    
    .floatingBgDown {
        height: 65vh;
    }

    .about {
        width: 36%;
    }

    .portfolio { 
        width: 55%;
    }

    .profile {
        .profilePic {
            width: 120px;
            height: 120px;
        }
    }

    .headingSCSS {
        font-weight: 700;
        font-size: 2.9rem;
    }
    
    .textSCSS {
        font-size: 1.4rem;
    }

    .fa-brands {
        font-size: 40px;
    }

    .svgPatronite {
        height: 50px;
        width: 150px;
    }

    .footText {
        font-size: 1.0rem;
    }

    .footTitle {
        font-size: 1.4rem;
    }

    .contactText {
        font-size: 1.5rem;
    }

    .contact {
        .horLine {
            margin-top: 0;
            width: 420px;
            background-color: #fff;
        }
    }
}

@media (min-width: 2144px) {
    .floatingBgUp {
        height: 70vh;
    }
    
    .floatingBgDown {
        height: 70vh;
    }

        .about {
        width: 30%;
    }
}