@use '_main.scss' as main;
@use 'colors' as colors;
@use '_scrollAnimation' as scrlAni;
@use '_loadPage' as loadPage;

header {
    background-color: colors.$white-background;
    height: 25vh;
    display: flex;
    flex-direction: column;

    .heroimg {
        width: 100%;
        height: 17vh;
        background-image: url(/images/old-man-my-computer.gif);
        background-position: center;
        background-attachment: fixed;


    }
    .profile {
        position: relative;

        .profilePic {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid colors.$accent;
            margin-top: -40px;
        }
    }

    .overview {
        display: flex;
        justify-content: center;

        .mediaIcons {
            padding-top: 10px;
            padding-right: 3%;
            width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .fa-brands {
                font-size: 22px;
                padding: 5px;
            }
        }

        .patronite {
            padding-top: 10px;
            padding-left: 3%;

            .svgPatronite {
                background-color: colors.$sec-background;
                border-radius: 30px;
            }
        }
    }
}



.about {
    display: flex;
    flex-direction: row;

    width: 85%;
    height: fit-content;
    margin-top: 50px;

    .fullText {
        margin-left: 20px;
    }

    .heading {
        color: white;
        font-weight: 700;
        font-size: 30px;
        padding-bottom: 7px;
    }

    .text {
        color: #E8E8E8;
        padding-bottom: 7px;
    }
}



.portfolio {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: fit-content;
    
    p {
        color: white;
    }

    .horLine {
        background-color: #fff;
    }

    .orgLink {
        color: rgb(198, 207, 255);
        text-align: center;
        background-color: rgb(31, 31, 31);
        text-decoration: underline;
        border-radius: 13px;
        padding: 3px;
        margin-top: 10px;
    }

    .video1 {
        margin-top: 20px;
        border: 2px solid colors.$sec-background;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .video2 {
        margin-top: 15px;
        border: 2px solid colors.$sec-background;
        border-radius: 10px;
    }
}



.technologies {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: fit-content;
    margin-bottom: 50px;

    .horLine {
        width: 70%;
        background-color: colors.$accent;
    }

    .techStack {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .techSticker {
        display: flex;
        justify-content: center;
        align-items: center;

        width: fit-content;
        height: fit-content;
        z-index: -2;

        border-radius: 6px;
        margin-right: 10px;
        margin-bottom: 10px;

        border: 2px solid rgb(51, 51, 51);


    }

    .techLogoContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 4px;
        padding-right: 9px;
        padding-left: 8px;

        background-color: black;
    }

    .techLogo {
        width: 21px;
        border-radius: 5px;
    }

    .techText {
        padding-left: 7px;
        padding-right: 7px;
        color: white;

        font-size: 16px;
    }

    .stickerText {
        font-weight: 500;
    }

// GitHub
    .techSticker1 {
        background-color: white;

        .techLogoContainer1 {
            background-color: rgb(16, 26, 38);
        }
    }

    .techText1 {
        color: rgb(16, 26, 38);
    }

// Git
    .techSticker2 {
        background-color: rgb(240, 80, 51);
    }

    .techText2 {
        padding-left: 14px;
        padding-right: 14px;
    }

// VSC
    .techSticker3 {
        background-color: rgb(60, 169, 242);
    }

// Bootstrap
    .techSticker4 {
        background-color: rgb(124, 18, 248);
    }

// Kali Linux
    .techSticker5 {
        background-color: rgb(39, 119, 255);
    }

// HTML
    .techSticker6 {
        background-color: rgb(239, 101, 42);
    }

// CSS 
    .techSticker7 {
        background-color: rgb(38, 77, 228);
    }

// JS
    .techSticker8 {
        background-color: rgb(240, 219, 79);
    }

// SASS
    .techSticker9 {
        background-color: rgb(205, 103, 153);
    }

// C++
    .techSticker10 {
        background-color: rgb(0, 89, 156);
    }

// XD
    .techSticker11 {
        background-color: rgb(71, 1, 55);
    }
}
// Tailwindcss
.techSticker12 {
    background-color: rgb(1, 183, 214);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 85%;
    height: fit-content;

    .contactHeading {
        text-align: center;
        margin-bottom: 20px;

        .horLine {
            margin-top: 0;
            margin-bottom: 0;
            width: 150px;
            background-color: #fff;
        }
    }


    p {
        color: #E8E8E8;
    }

    a {
        color: #E8E8E8;
        text-decoration: underline;
        font-style: italic;
    }

    .contactMail {
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
            font-size: 16px;
            font-weight: 700;
        }

        a {
            color: #E8E8E8;
        }
    }

    .contactSocial {
        padding-top: 20px;

        display: flex;
        flex-direction: column;

        div {
            display: flex;
            justify-content: center;
        }

        p {
            font-size: 16px;
            font-weight: 700;
        }
        
        .linkedIcon {
            font-size: 30px;
            padding: 5px;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: 85%;

    .rightsReserv {
        font-size: 11px;
        padding: 30px;
    }
    
    .footerContainer {
        display: flex;
        justify-content: space-between;

        width: 100%;

        .footText {
            font-size: 13px;
        }

        .rightFoot {
            text-align: right;
        }
    }
}