$main-background: rgb(16 16 16);
$sec-background: rgb(43, 43, 43);
$thr-background: rgb(83, 83, 83);
$fth-background: rgb(206, 206, 206);

$footer-background: rgb(162, 162, 162);
$dark-footer-background: rgb(53, 53, 53);
$white-background: rgb(245, 245, 245);

$accent: rgb(95, 23, 196);
$second-accent: rgb(39, 11, 78);
$third-accent: rgb(176, 140, 226);