@use 'colors' as colors;

::-webkit-scrollbar {
    width: 0.9rem;
}

::-webkit-scrollbar-track {
    background-color: colors.$sec-background;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(121, 121, 121);
    border-radius: 30px;
    border: 3px solid rgb(53, 54, 58);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(97, 97, 97);
}

::-webkit-scrollbar-thumb:active {
    background-color: colors.$third-accent;
}

::selection {
    background-color: colors.$third-accent;
    color: #fff;
}