.hide {
    opacity: 0;
    transition: all 0.8s;
    transform: scale(0.9);
    filter: blur(10px);
}

@media (prefers-reduced-motion) {
    .hide {
        transition: none;
    }
}

.linkedIcon:nth-child(1) {
    transition: 0.8s;
    transition-delay: 0.5s;
}

.linkedIcon:nth-child(2) {
    transition: 0.8s;
    transition-delay: 0.7s;
}

.linkedIcon:nth-child(3) {
    transition: 0.8s;
    transition-delay: 0.9s;
}

.patronite {
    transition: 0.8s;
    transition-delay: 1.1s;
}

.show {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
}

.contact {
    transition: 0.8s;
    transition-delay: 0.4s;
}

.about {
    transition: 1.3s;
}

.rightsReserv {
    transition-delay: 0.5s;
}

.video2 {
    transition: 0.8s;
    transition-delay: 0.3s;
}

.techSticker1 {
    transition: 0.8s;
    transition-delay: 0.4s;
}

.techSticker2 {
    transition: 0.8s;
    transition-delay: 0.5s;
}

.techSticker3{
    transition: 0.8s;
    transition-delay: 0.6s;
}

.techSticker4 {
    transition: 0.8s;
    transition-delay: 0.7s;
}

.techSticker5 {
    transition: 0.8s;
    transition-delay: 0.8s;
}

.techSticker6 {
    transition: 0.8s;
    transition-delay: 0.9s;
}

.techSticker7 {
    transition: 0.8s;
    transition-delay: 1.0s;
}

.techSticker8{
    transition: 0.8s;
    transition-delay: 1.1s;
}

.techSticker9 {
    transition: 0.8s;
    transition-delay: 1.2s;
}

.techSticker10 {
    transition: 0.8s;
    transition-delay: 1.3s;
}

.techSticker11 {
    transition: 0.8s;
    transition-delay: 1.4s;
}

.techSticker12 {
    transition: 0.8s;
    transition-delay: 1.5s;
}