@use '_main.scss' as main;
@use 'colors' as colors;
@use '_scrollAnimation' as scrlAni;
@use '_customWebkit.scss' as scroll;

.darkBackground {
    background: colors.$main-background;
}

.show {
    transition-delay: 0.7s;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 30px;
}

p {
    text-align: center;
    width: 85%;
    font-size: 1.5rem;
}

p:first-child {
    color: colors.$white-background;
}

p:nth-child(2) {
    font-size: 0.9rem;
    padding-bottom: 30px;

    // Backgroudn gradient
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text ;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

p:nth-child(3) {
    color: colors.$fth-background;
}

a {
    padding-top: 15px;
    color: colors.$accent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}


// Footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: auto;
    margin-bottom: 30px;


}

.footText {
    font-size: 13px;
}

.rightsReserv {
    font-size: 11px;
    padding: 15px;
    padding-bottom: 0;

    a {
        color: colors.$footer-background;
        transition: all 0.5s;
    }

    a:hover {
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text ;
        -webkit-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

button {
    // Backgroudn gradient
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;

    font-size: 15px;
    font-style: italic;
    font-weight: 800;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 45px;
    width: 230px;
    box-shadow: 2px 2px 20px rgb(151, 33, 33);
    margin-top: 30px;
}

button:hover {
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(199, 199, 199);
    box-shadow: 2px 2px 20px rgb(96, 96, 96);
    color: wheat;
}

button:active {
    background-color: rgb(111, 24, 24);
    box-shadow: 2px 2px 20px rgb(75, 16, 16);
}

// Width
@media (min-width: 330px) {
    .headingSCSS {
        font-size: 2.5rem;
    }

    .rightsReserv {
            font-size: 0.8rem;
    }

    p:nth-child(3) {
        font-size: 1.5rem;
    }
}

@media (min-width: 810px) {
    .headingSCSS {
        font-size: 3.5rem;
    }

    .rightsReserv {
        font-size: 1.3rem;
    }

    p:nth-child(2) {
        font-size: 1.2rem;
    }

    p:nth-child(3) {
        font-size: 1.7rem;
    }
}

::selection {
    background-color: rgb(101, 117, 116);
    color: white;
}