* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  min-height: 100vh;
}

.bodyShow {
  display: none;
}

.showedBody {
  display: block;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textIcon {
  font-size: 1.3rem;
}

.verLine {
  height: 100;
  width: 2px;
  background-color: rgb(95, 23, 196);
}

.horLine {
  width: 100%;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.floatingBg {
  background-color: rgb(95, 23, 196);
  width: 100%;
}

.floatingBgDown {
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 20vh;
  margin-top: -1px;
  border: 0;
}

.floatingBgUp {
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 20vh;
  border: 0;
}

.floatingBgUpBright {
  background-image: url(/images/SVG/wave-haikei-white.svg);
  transition: all 0.5s;
}

.floatingBgDownBright {
  background-image: url(/images/SVG/wave-haikeiUpsiteDown-white.svg);
  transition: all 0.5s;
}

.floatingBgUpDark {
  background-image: url(/images/SVG/wave-haikei.svg);
  transition: all 0.5s;
}

.floatingBgDownDark {
  background-image: url(/images/SVG/wave-haikeiUpsiteDown.svg);
  transition: all 0.5s;
}

.darkBackground {
  background-color: rgb(16, 16, 16);
  transition: all 0.5s;
}

.brightBackground {
  background-color: rgb(245, 245, 245);
  transition: all 0.5s;
}

.darkColor {
  color: rgb(16, 16, 16);
  transition: all 0.5s;
}

.dark-lightColor {
  color: rgb(206, 206, 206);
  transition: all 0.5s;
}

.brightColor {
  color: rgb(245, 245, 245);
  transition: all 0.5s;
}

.bright-darkColor {
  color: rgb(83, 83, 83);
  transition: all 0.5s;
}

.dark-whiteColorFoot {
  color: rgb(162, 162, 162);
  transition: all 0.5s;
}

.whiteColorTitleFoot {
  color: rgb(245, 245, 245);
  transition: all 0.5s;
}

.darkColorFoot {
  color: rgb(53, 53, 53);
  transition: all 0.5s;
}

.darkColorTitleFoot {
  color: rgb(16, 16, 16);
  transition: all 0.5s;
}

.headingSCSS {
  font-weight: 700;
  font-size: 30px;
}

.textSCSS {
  font-size: 1rem;
}

.statusChangeGreen {
  color: rgb(42, 182, 42);
}

.statusChangeRed {
  color: rgb(232, 41, 41);
}

.hide {
  opacity: 0;
  transition: all 0.8s;
  transform: scale(0.9);
  filter: blur(10px);
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}
.linkedIcon:nth-child(1) {
  transition: 0.8s;
  transition-delay: 0.5s;
}

.linkedIcon:nth-child(2) {
  transition: 0.8s;
  transition-delay: 0.7s;
}

.linkedIcon:nth-child(3) {
  transition: 0.8s;
  transition-delay: 0.9s;
}

.patronite {
  transition: 0.8s;
  transition-delay: 1.1s;
}

.show {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.contact {
  transition: 0.8s;
  transition-delay: 0.4s;
}

.about {
  transition: 1.3s;
}

.rightsReserv {
  transition-delay: 0.5s;
}

.video2 {
  transition: 0.8s;
  transition-delay: 0.3s;
}

.techSticker1 {
  transition: 0.8s;
  transition-delay: 0.4s;
}

.techSticker2 {
  transition: 0.8s;
  transition-delay: 0.5s;
}

.techSticker3 {
  transition: 0.8s;
  transition-delay: 0.6s;
}

.techSticker4 {
  transition: 0.8s;
  transition-delay: 0.7s;
}

.techSticker5 {
  transition: 0.8s;
  transition-delay: 0.8s;
}

.techSticker6 {
  transition: 0.8s;
  transition-delay: 0.9s;
}

.techSticker7 {
  transition: 0.8s;
  transition-delay: 1s;
}

.techSticker8 {
  transition: 0.8s;
  transition-delay: 1.1s;
}

.techSticker9 {
  transition: 0.8s;
  transition-delay: 1.2s;
}

.techSticker10 {
  transition: 0.8s;
  transition-delay: 1.3s;
}

.techSticker11 {
  transition: 0.8s;
  transition-delay: 1.4s;
}

.techSticker12 {
  transition: 0.8s;
  transition-delay: 1.5s;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(43, 43, 43);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(121, 121, 121);
  border-radius: 30px;
  border: 3px solid rgb(53, 54, 58);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(97, 97, 97);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(176, 140, 226);
}

::-moz-selection {
  background-color: rgb(176, 140, 226);
  color: #fff;
}

::selection {
  background-color: rgb(176, 140, 226);
  color: #fff;
}

.darkBackground {
  background: rgb(16, 16, 16);
}

.show {
  transition-delay: 0.7s;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

p {
  text-align: center;
  width: 85%;
  font-size: 1.5rem;
}

p:first-child {
  color: rgb(245, 245, 245);
}

p:nth-child(2) {
  font-size: 0.9rem;
  padding-bottom: 30px;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

p:nth-child(3) {
  color: rgb(206, 206, 206);
}

a {
  padding-top: 15px;
  color: rgb(95, 23, 196);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 30px;
}

.footText {
  font-size: 13px;
}

.rightsReserv {
  font-size: 11px;
  padding: 15px;
  padding-bottom: 0;
}
.rightsReserv a {
  color: rgb(162, 162, 162);
  transition: all 0.5s;
}
.rightsReserv a:hover {
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

button {
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  color: white;
  border: 0;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  height: 45px;
  width: 230px;
  box-shadow: 2px 2px 20px rgb(151, 33, 33);
  margin-top: 30px;
}

button:hover {
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(199, 199, 199);
  box-shadow: 2px 2px 20px rgb(96, 96, 96);
  color: wheat;
}

button:active {
  background-color: rgb(111, 24, 24);
  box-shadow: 2px 2px 20px rgb(75, 16, 16);
}

@media (min-width: 330px) {
  .headingSCSS {
    font-size: 2.5rem;
  }
  .rightsReserv {
    font-size: 0.8rem;
  }
  p:nth-child(3) {
    font-size: 1.5rem;
  }
}
@media (min-width: 810px) {
  .headingSCSS {
    font-size: 3.5rem;
  }
  .rightsReserv {
    font-size: 1.3rem;
  }
  p:nth-child(2) {
    font-size: 1.2rem;
  }
  p:nth-child(3) {
    font-size: 1.7rem;
  }
}
::-moz-selection {
  background-color: rgb(101, 117, 116);
  color: white;
}
::selection {
  background-color: rgb(101, 117, 116);
  color: white;
}/*# sourceMappingURL=EAS.css.map */